body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.content {
  display: block;
  width: 70%;
  background: #ff0;
  height: 80vh;
}
.footer {
  display: block;
  width: 100vw;
  height: 10vh;
  background: #ddd;
}
.header {
  display: block;
  width: 100vw;
  height: 10vh;
  background: #f00;
}
.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 80vh;
  background: #008000;
}
.side-menu {
  display: block;
  width: 20%;
  height: 80vh;
  background: #ffa500;
}
